@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/Lato/font-face.css');

@font-face {
  font-family: 'password';
  src: url('./assets/password.woff');
}

.Toastify__hack-force-fast {
  animation-duration: 1ms !important;
}
.debug {
  @apply tw-border-8 tw-border-red-500;
}

.button-submit {
  @apply tw-inline-flex tw-w-full tw-justify-center tw-rounded-md tw-border tw-border-transparent tw-bg-main tw-px-4 tw-py-2 tw-text-base tw-font-medium tw-text-white tw-shadow-sm hover:tw-bg-main75 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-main75 focus:tw-ring-offset-2 sm:tw-ml-3 sm:tw-w-auto sm:tw-text-sm;
}

.button-cancel,
.button-classic {
  @apply tw-mt-3 tw-inline-flex tw-w-full tw-justify-center tw-rounded-md tw-border tw-border-gray-300 tw-bg-white tw-px-4 tw-py-2 tw-text-base tw-font-medium tw-text-gray-700 tw-shadow-sm hover:tw-bg-gray-50 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-main focus:tw-ring-offset-2 sm:tw-mt-0 sm:tw-ml-3 sm:tw-w-auto sm:tw-text-sm;
}

.button-destructive {
  @apply tw-inline-flex tw-w-full tw-justify-center tw-rounded-md tw-border tw-border-transparent tw-bg-red-100 tw-px-4 tw-py-2 tw-text-base tw-font-medium tw-text-red-700 tw-shadow-sm hover:tw-bg-red-200 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-red-500 focus:tw-ring-offset-2 sm:tw-ml-3 sm:tw-w-auto sm:tw-text-sm;
}
.disable-everything * {
  pointer-events: none !important;
  opacity: 0.9 !important;
  cursor: wait !important;
}

/* inspired from https://tailwindui.com/components/application-ui/forms/input-groups#component-2607d970262ada86428f063c72b1e7bd */
input.tailwindui {
  @apply tw-relative tw-mt-1 tw-block tw-w-full tw-appearance-none tw-rounded-md tw-border tw-border-gray-300 tw-py-2 tw-px-2 tw-text-base tw-shadow-sm focus:tw-border-indigo-500 focus:tw-ring-indigo-500 sm:tw-text-sm;
}
label.tailwindui {
  @apply tw-mb-2 tw-block tw-text-gray-700;
}

/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, serif;
  color: #1d2021;
}

ul {
  padding: initial;
  margin: initial;
  padding-inline-start: 40px;
}

li {
  padding: initial;
  margin: initial;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.main-container {
  flex: 1;
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem 3rem 3rem;
}

// input:focus,
// textarea:focus,
// select:focus {
//   outline: none;
// }
table {
  background-color: white;
  padding: 24px !important;
}
table tr {
  cursor: pointer;
}
a {
  text-decoration: none;
}

hr {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.image-input {
  height: 100px;
  min-width: 150px;
  background: #f3f3f3 url('./assets/image.svg') center no-repeat;
  background-size: 50%;
  border: 2px solid #eee;
  margin-top: 10px;
  cursor: pointer;
}

.time-range {
  background-color: white;
  border-radius: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 4.5px 4px;
}

.time-range {
  border: none !important;
  width: 100%;
}

.time-range .react-daterange-picker__wrapper {
  border: none !important;
}

.time-range .react-daterange-picker__clear-button {
  border-radius: 100px;
  border: none;
  padding: 2px;
  width: 14px;
  height: 14px;
  background-color: #cbd3d6;
}

.time-range .react-daterange-picker__clear-button__icon {
  width: 10px;
  height: 10px;
  color: white;
  stroke: white;
}

@media print {
  .noprint {
    display: none !important;
  }
  .main,
  .main-container {
    height: auto;
  }

  #root {
    overflow-y: auto;
    height: auto;
  }

  .main-content {
    height: auto;
    margin-left: 0 !important;
    max-width: 100%;
    padding: 0 !important;
    overflow: initial;
  }
  .report-container {
    padding: 0 !important;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .report-container > .printonly > div {
    border-radius: 16px;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border: 1px solid #ddd;
  }

  .print-title {
    position: fixed;
    top: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px;
    opacity: 0.5;
  }

  hr {
    page-break-before: auto;
    display: none;
  }
  @page {
    margin: 1cm;
    margin-top: 50px;
  }
}
@media screen {
  .printonly {
    display: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(222, 243, 237, 1) inset !important;
}

$theme-colors: (
  'primary': #49c3a6,
);

.rrt-success {
  background-color: #49c3a6 !important;
}

.visually-hidden {
  visibility: hidden;
}

@import '~bootstrap/scss/bootstrap.scss';
